*{
    margin: 0px;
    padding: 0px;
}
/* Main body */
#main{
    height: 1200px;
    background-color:#f7f7f7 ;
    border: 2px solid #e6e6e6;
}
/* Task List */
nav{
    display: flex;
    align-items: center;
    height: 94px;
    padding: 1rem 10rem;
    background-color: white;
    box-shadow:0px 5px 10px #e6e6e6;
}
/* Add New Button */
#add_new{
    margin: 36px 0px;
    position: relative;
    left: 80%;
    height: 62px;
}
#add_new:nth-child(2){
    display: flex;
    align-items: center;
}
#add_new span[]
/* Body Container */
#container{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    padding-left: 15%;
}

.box{
    height: 270px;
    width: 300px;
    padding: 2rem;
    margin: 10px;
    background-color:white ;
}

.box h2{
    color: #00A5EC;
    font-size: 23px;
    margin: 20px 5px;
}
.c_box1{ 
    accent-color: gray;
    transform:scale(1.5); 
    margin-left:0.5rem;
}
.c_box2{
    transform: scale(1.5);
    margin-left:0.5rem;
}
.box span{
 display: inline-block;
 margin: 20px 5px;
}
.sp{
    font-size: 21px;
    color: #c2c2c2;
    text-decoration: line-through;
}
.sp1{
    font-size: 21px;
}
